
/*
  General
*/


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(#000000, 0.1);
  border-left:1px solid ;
}

::-webkit-scrollbar-thumb {
  background: $border-color;
}

::-webkit-scrollbar-thumb:hover {
  // background: #555;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-weight:bold;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: $main-font;
  color: $text;
  font-size: .9rem;
  // line-height: 1.5;
  background: $bg;
}

body {
  color: $text;
  font-weight: lighter;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  padding:0 1.5rem;
  width:100%;
  height:100vh;
}

.earth {
  position: fixed;
  width:calc(100vw - 3rem - 6px);
  height:100vh;
  top:0;
  left: calc(1.5rem + 3px);
  // z-index: -1;
  background: url('../img/crack.png');
  /* opacity: .4; */
  // mix-blend-mode: darken;
}

.filter {
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:#0F1B2A;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 999;
  // display: none;
}

.dark1 {
  background:#fff1b8;
}


/*
  Wrapper
*/

.wrap {
  position: relative;
  width: 100%;
  height:100%;
  // overflow-y: scroll;
  border-right:3px double;
  border-left:3px double;
  display:flex;
  flex-flow:column;

}

.horiz {
  width: 100%;
  // background:red;
  height:1.5rem;
  // background:inherit;
  // position: absolute;
  display: flex;
  justify-content: space-between;
  // padding:0 1.5rem;
  border-bottom:3px double;
  // background: var(--bg);
  text-align: center;
  background:$bg;
}

.horiz a {
  color: inherit;
}

.horiz:last-of-type {
  border:none;
  border-top:3px double;
}

.center {
  border:none;
  border-left:3px double;
  border-right:3px double;
  width:100%;
}

.side {
  width:300px;
  flex-shrink:0;
  border:none;
}

.page-btn {
  font-size:.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seek {
  display:flex;
  width:100%;
}

.seek .center {
  width:100%;
}

.seek .side {
  width:100%;
  flex-shrink: unset;
}

.seek {
  border-right:3px double;
  border-left:3px double;
}

/*
  Container
*/

.container {
  display:flex;
  height:calc(100% - 3rem);
}

.content {
  overflow-y: auto;
  padding:1.5rem;
  border-left:3px double;
  border-right:3px double;
  height:100%;
  width:100%;
  background:$bg;
}

.content.active {
  opacity:0;
  background:transparent;
}

.content.active article {
  display:none;
}

article {
  max-width: 800px;
  margin: 0 auto;
}



/* Links */
a, .text-title a {
  color: $link;
  text-decoration: none;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  // text-decoration: underline;
  background: $acc;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin-bottom: 1rem;
  font-weight: normal;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin-top:1rem;
}

h1,
h1.text-title {
  font-size: 1.4rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

h3 {
  margin-top: 1.5rem;
}


/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Lists */
ul {
  list-style: circle;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Horizontal ruler */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 1px solid ;
  overflow: visible;
}

hr::after {
  content:"";
  padding:4px;
  border:1px solid ;
  background:$bg;
  border-radius:50%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* Search highlighting */
mark {
  color: white;
  background-color: $link-color;
}

/* Quotes */
blockquote {
  padding: 0rem 1.5rem 0rem 2rem;
  margin: 0 0 20px 0;
  color: $text;
  border-left: none;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Images */
img {
  display: block;
  width: 100%;
  // max-width: 600px;
  margin: 0 auto .5rem auto;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid ;
  border-collapse: collapse;
}

td,
th {
  padding: 3rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
  text-align: center;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: rgba(249, 249, 249, 0.03);
}

button {
  cursor: pointer;
  background: transparent;
  color:inherit;
  font-family: inherit;
  border: 3px double;
  box-shadow: inset 0 -2px #c2c2c2;
}

button:hover {
  background: $acc;
}

button:active {
  background:white;
  box-shadow: inset 0 2px #cccccc;
}

.menu {
  flex-direction: column;
  overflow-x:unset;
  width:300px;
  /* height:100%; */
  /* background:url('../img/crack.png'); */
  border-bottom:3px double;
  max-height: calc(100vh - 3rem + 3px);
  /* display: none; */
  // pointer-events: all;
  display:none;
  z-index:99;
  position: relative;
  background:$bg;
}

.menu::after {
  content: '';
  position: absolute;
  top: 0;
  right: -3px;
  background: inherit;
  height: calc(100% + 3px);
  border-left: 3px double;
}

.menu.active {
  display:flex;
}

.menu-inner {
  overflow-y: auto;
  height:100%;
  flex-flow: column;
  padding:1rem;
  background:$bg;
}

.menu-item {
  // padding: 1rem;
}

.menu-item p:last-child {
  margin-bottom: 0;
}

.menu-item {
  display: block;
  // padding: .5rem 1rem;
  // border-top: 1px solid ;
}

.menu .menu-item:first-of-type {
  border-top: none;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  // border-color: transparent;
}

.nav-inner.active {
  display:flex;
}

#nav a {
  text-decoration: none;
  color: $text;
}

#nav a.active {
  text-decoration: underline;
}

#nav details {
  display: flex;
  flex-flow: column;
  /* margin-left:1.2rem; */
}

#nav details a {
  padding-left:1rem;
}

#nav details summary {
 /* margin-left:-1.2rem; */
 /* width:calc(100% + 1.2rem); */
 margin-bottom:0;
 padding:0;
 width: 100%;
}

#nav details details summary {
  padding-left:1rem;
}

#nav details details a {
  padding-left:2rem;
}

details summary::marker {
  display: none;
}

details summary {
 list-style:none;
 cursor:pointer;
 /* margin-bottom:1rem; */
 /* margin-left:-1rem; */
 padding:.2rem 0;
}

details[open] summary {
  margin-bottom:1rem;
  // background: $acc;
}

details[open] > summary:after {
 content: '/';
}

details > summary:after {
 content: '/..';
}

details summary:hover {
  background: $acc;
}

details summary::selection {
  background:transparent;
}

// details details summary {
//   padding-left:1rem;
// }

details details a {
  padding-left:2rem;
}


.power {
  background: $bg;
  display: none;
  border-bottom:3px double;
  padding:1rem;
  position: relative;
}

.power.active::after {
  content: '';
  position: absolute;
  top: 0;
  left: -3px;
  background: inherit;
  height: calc(100% + 3px);
  border-left: 3px double;
}

.power.active {
  display: block;
}

.energy-capsule {
  // position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:1px 0;
  margin-bottom:1rem;
  // transition:background 5s ease;
}

.energy-capsule div {
  margin:.75rem;
  border:3px double;
  background:rgba(254, 110, 110, 0.1);
}

.energy-capsule .first {
  margin:0;
}

.energy-capsule img {
  margin-bottom:0;
  transform:scale(.9);
  position: relative;
  bottom:-3px;
}

/*
 ED special layouts
*/

p.centered {
  text-align: center;
}

p.larger {
  font-size: 1.6rem;
}

p.large {
  font-size: 1.4rem
}

p.small {
  font-size: 0.8rem;
}

div.poem,
.poem,
div.narrative,
.narrative {
  // margin-bottom: 5rem;
}

div.toc {
  margin-bottom: 4rem;
}


/*
  Poem styles

  If you want your lines not to wrap on small screens, add the rule "white-space: nowrap;"; If you
  want you want to remove the hanging indent, reset the padding-left to 0 and erase text-indent
*/

.poem ul,
.poetry ul,
ul.poetry {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  text-indent: 20px;
}


/* This snippet helps us reset the margin for all spans with the indent- class */
.poem span[class^='indent-'],
.poetry span[class^='indent-'] {
  margin: 0;/* reset browsers default margin styles*/
}


/*
  To set line indentation for poetry wrap the line in a span with a class="indent-x" attribute.
  The x is represents a rem (root em) value
*/

.indent-1 {
  padding-left: 1rem;
}

.indent-2 {
  padding-left: 2rem;
}

.indent-3 {
  padding-left: 3rem;
}

.indent-4 {
  padding-left: 4rem;
}

.indent-5 {
  padding-left: 5rem;
}

.indent-6 {
  padding-left: 6rem;
}

.indent-7 {
  padding-left: 7rem;
}

.indent-8 {
  padding-left: 8rem;
}

.indent-9 {
  padding-left: 9rem;
}

.indent-10 {
  padding-left: 10rem;
}

.poem .byline,
.poetry .byline {
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: -.5rem;
}

/* Footnotes styles */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

.footnotes {
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: .01rem;
}

.footnotes .foot-block {
  display: inline-block;
  padding: 0 4rem 0 2rem;
  margin-bottom: .8rem;
  font-style: italic;
}

a.footnote {
  padding-left: .1rem;
  font-size: .66rem;
}

/*Bibliography styles */
ol.bibliography {
  list-style-type:none;
  padding-left: 1rem;
  text-indent: -1rem;
}

/* Diplomatic editions */
ins,
.add {
  color:#288828;
  font-style: italic;
}

del,
.delete {
  text-decoration: line-through;
  color: #AA3232;
}

u,
.underline {
  text-decoration: underline;
}


/*
  Line layouts for prose-poetry and theater

  To use these layouts you need to add the classes to your markdown or HTML lines.
  (ex. "- {:.centered} hello!")
*/

li.centered {
  text-align: center;
}

li.speaker,
li.speakerGroup {
  text-align: center;
  padding-top: 1.2em;
}

li.speakerGroup {
  margin-bottom: -1.6em;
}

/* To add an attribution, make sure to make a line with the attribution class */

li.attribution {
  text-align: right;
  list-style: none;
  padding: 0rem 1.5rem 0rem 2rem;
  margin: 0 0 20px 0;
  color: #454545;
}

li.prose {
  list-style-position: inside;
  margin-left: -1em;
  text-indent: 0;
}

li.prose-indent {
  text-indent: 2rem;
}



.fn {
  text-decoration: none;
  display: inline-block;
  // margin:0 .3rem;  
  // font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.1em;
  font-style: normal;
  cursor:pointer;
}

.fn::after {
  content: '•';
}

.fn:hover .fn::after {
  background: red;
}

.fnc {
  display:none;
  width:80%;
  /* background:lightblue; */
  padding:.5rem;
  border:1px dashed;
  margin:.5rem auto;
  color: $link;

}

.fnc-show {
  display:block;
}