---
sitemap: false
---

/* Fonts */
$main-font: 'qt letter goth', monospace;
$heading-font: 'Xanh Mono', monospace;
$regular-font-size: 1em;

$text-color: rgba(0, 0, 0, 0.6);
$heading-color: rgba(0, 0, 0, 0.6);
$border-color: rgba(0, 0, 0, 0.2);
$link-color: rgba(0, 0, 0, 0.6);

// $bg: #a6a55a;

// $bg: #685B61;
$bg: #D4D1D2;

$acc: rgba(152, 152, 152, 0.15);

$shading: #bcb7b9;
$active: #e8e3e4;

// $text: #D4D1D2;
$text: #685B61;
$link: #bd6c3a;
$link-hover: rgba(222, 115, 93, 0.4);

$max-width: 800px;
$br: .8rem;


@import "ed";
@import "syntax";

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth.woff2') format('woff2'),
       url('../fonts/qtlettergoth.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth-italic.woff2') format('woff2'),
       url('../fonts/qtlettergoth-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth-bold.woff2') format('woff2'),
       url('../fonts/qtlettergoth-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'qt letter goth';
  src: url('../fonts/qtlettergoth-bolditalic.woff2') format('woff2'),
       url('../fonts/qtlettergoth-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.screensaver {
  opacity:0;
  position: fixed;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background:#555530;
  pointer-events: none;
  // transition: opacity 3s ease, background 5s ease;
}

.saving {
  opacity:.9;
}
